<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${model.title}</title>
</head>
<body>

<div id="root">

    <div class="container">
        <div class="well well-lg" style="position: absolute; top:40%; left: 48%;"><h4 class="text-center">Loading <span
                class="fa fa-spinner fa-spin"></span></h4>
        </div>
    </div>

</div>

</body>

<script src="/static/js/bundle.js"></script>

</html>
